@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import "bootstrap/scss/bootstrap";

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}